[Desktop Entry]
Name=Nota
Name[ca]=Nota
Name[ca@valencia]=Nota
Name[es]=Nota
Name[et]=Nota
Name[it]=Nota
Name[lt]=Nota
Name[nl]=Nota
Name[pt]=Nota
Name[pt_BR]=Nota
Name[sk]=Nota
Name[uk]=Нота
Name[x-test]=xxNotaxx
Name[zh_TW]=Nota
Comment=Simple Text Editor
Comment[ca]=Editor de text senzill
Comment[ca@valencia]=Editor de text senzill
Comment[es]=Editor simple de texto
Comment[et]=Lihtne tekstiredaktor
Comment[it]=Semplice editor di testo
Comment[lt]=Paprastas tekstų redaktorius
Comment[nl]=Eenvoudige tekstverwerker
Comment[pt]=Editor de Texto Simples
Comment[pt_BR]=Editor de texto simples
Comment[sk]=Jednoduchý textový editor
Comment[uk]=Простий текстовий редактор
Comment[x-test]=xxSimple Text Editorxx
Comment[zh_TW]=簡易文字編輯器
TryExec=nota
Exec=nota %U
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;TextEditor;
GenericName=Simple Text Editor
GenericName[ca]=Editor de text senzill
GenericName[ca@valencia]=Editor de text senzill
GenericName[es]=Editor simple de texto
GenericName[et]=Lihtne tekstiredaktor
GenericName[it]=Semplice editor di testo
GenericName[lt]=Paprastas tekstų redaktorius
GenericName[nl]=Eenvoudige tekstverwerker
GenericName[pt]=Editor de Texto Simples
GenericName[pt_BR]=Editor de texto simples
GenericName[sk]=Jednoduchý textový editor
GenericName[uk]=Простий текстовий редактор
GenericName[x-test]=xxSimple Text Editorxx
GenericName[zh_TW]=簡易文字編輯器
StartupNotify=true
Icon=accessories-text-editor
MimeType=text/plain;
