[Desktop Entry]
Name=Nota
Name[ca]=Nota
Name[es]=Nota
Name[nl]=Nota
Name[pt]=Nota
Name[sk]=Nota
Name[uk]=Нота
Name[x-test]=xxNotaxx
Name[zh_TW]=Nota
Comment=Simple Text Editor
Comment[ca]=Editor de text senzill
Comment[es]=Editor simple de texto
Comment[nl]=Eenvoudige tekstverwerker
Comment[pt]=Editor de Texto Simples
Comment[sk]=Jednoduchý textový editor
Comment[uk]=Простий текстовий редактор
Comment[x-test]=xxSimple Text Editorxx
Comment[zh_TW]=簡易文字編輯器
TryExec=nota
Exec=nota %U
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;TextEditor;
GenericName=Simple Text Editor
GenericName[ca]=Editor de text senzill
GenericName[es]=Editor simple de texto
GenericName[nl]=Eenvoudige tekstverwerker
GenericName[pt]=Editor de Texto Simples
GenericName[sk]=Jednoduchý textový editor
GenericName[uk]=Простий текстовий редактор
GenericName[x-test]=xxSimple Text Editorxx
GenericName[zh_TW]=簡易文字編輯器
StartupNotify=true
Icon=accessories-text-editor
MimeType=text/plain;
