[Desktop Entry]
Name=Nota
Name[ca]=Nota
Name[ca@valencia]=Nota
Name[cs]=Nota
Name[es]=Nota
Name[et]=Nota
Name[fr]=Note
Name[it]=Nota
Name[ko]=Nota
Name[lt]=Nota
Name[nl]=Nota
Name[pt]=Nota
Name[pt_BR]=Nota
Name[sk]=Nota
Name[sl]=Nota
Name[sv]=Nota
Name[uk]=Нота
Name[x-test]=xxNotaxx
Name[zh_TW]=Nota
Comment=Simple Text Editor
Comment[ca]=Editor de text senzill
Comment[ca@valencia]=Editor de text senzill
Comment[cs]=Jednoduchý editor textu
Comment[es]=Editor simple de texto
Comment[et]=Lihtne tekstiredaktor
Comment[fr]=Un éditeur de texte simple
Comment[it]=Semplice editor di testo
Comment[ko]=간단한 텍스트 편집기
Comment[lt]=Paprastas tekstų redaktorius
Comment[nl]=Eenvoudige tekstverwerker
Comment[pt]=Editor de Texto Simples
Comment[pt_BR]=Editor de texto simples
Comment[sk]=Jednoduchý textový editor
Comment[sl]=Enostavni urejevalnik besedil
Comment[sv]=Enkel texteditor
Comment[uk]=Простий текстовий редактор
Comment[x-test]=xxSimple Text Editorxx
Comment[zh_TW]=簡易文字編輯器
TryExec=nota
Exec=nota %U
Terminal=false
Type=Application
Categories=Qt;KDE;Utility;TextEditor;
GenericName=Simple Text Editor
GenericName[ca]=Editor de text senzill
GenericName[ca@valencia]=Editor de text senzill
GenericName[cs]=Jednoduchý editor textu
GenericName[es]=Editor simple de texto
GenericName[et]=Lihtne tekstiredaktor
GenericName[fr]=Un éditeur de texte simple
GenericName[it]=Semplice editor di testo
GenericName[ko]=간단한 텍스트 편집기
GenericName[lt]=Paprastas tekstų redaktorius
GenericName[nl]=Eenvoudige tekstverwerker
GenericName[pt]=Editor de Texto Simples
GenericName[pt_BR]=Editor de texto simples
GenericName[sk]=Jednoduchý textový editor
GenericName[sl]=Enostavni urejevalnik besedil
GenericName[sv]=Enkel texteditor
GenericName[uk]=Простий текстовий редактор
GenericName[x-test]=xxSimple Text Editorxx
GenericName[zh_TW]=簡易文字編輯器
StartupNotify=true
Icon=maui-nota
MimeType=text/plain;
